@{
    ViewData["Title"] = "About";
}

@section Scripts{
   <script src="~/lib/axios-jsonp-pro/dist/axios.js"></script>

    <script>
  
    var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    todos:["aaa","bbb","ccc"],
    queryMsg:"",
    records:[{"SName":"111"},{"SName":"222"},{"SName":"333"}]
    ,offset:0,limit:100
  }
  ,
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    },
    getData:function(){
        //let _offset=0;
        let _url="https://opendata.epa.gov.tw/webapi/api/rest/datastore/355000000I-000030?offset="+app.offset+"&limit="+app.limit;
         app.records=[];
         app.queryMsg="查詢中..."
        axios.jsonp(_url)
        .then(function(result){
            app.records=result.result.records;
            console.log("get data OK");
            app.queryMsg="";
        })
        .catch(function(error){

        });
    }
  }
})
    </script>
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>判斷次數:@ViewData["count"]</h3>

<div id="app">
    <input type="text" v-model="message">
    <div>
        {{message}}
    </div>

    <ol>
        <li v-for="todo in todos">
        {{ todo }}
        </li>
    </ol>
    <button v-on:click="reverseMessage">逆转消息</button>
    <div>
    <button v-on:click="getData"> ajax</button>
    <div>
    <input type="text" v-model="offset" placeholder="起始位置" >
    <input type="text" v-model="limit"  placeholder="筆數上限值">
    </div>
    <ol> {{queryMsg}}
        <li v-for="item in records">
        {{item.STN_NO}} - {{ item.SName }}
        </li>
    </ol>
    </div>

</div>
